@font-face {
    src: url(../fonts/Poppins.ttf);
    font-family: poppins;
}

@font-face {
    src: url(../fonts/Montserrat.ttf);
    font-family: mont;
}

@font-face {
    src: url(../fonts/Inter.ttf);
    font-family: inter;
}

:root {
    --primary-color: #0055ff;
    --text-color: #fff;
    --text-grey: #d8d8d8;
    --grey-color: #26292B;
    --black-color: #111;
    --light-black: #15151a;
    --blue-color: #0077b6;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--light-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey-color);
    border-radius: 4px;
}

::selection {
    background: transparent;
}

.phone {
    display: none;
}

.text:hover {
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.transition {
    transition-duration: 1s;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 40px 0;
    border-radius: 10px;
}

@keyframes revealAnimation {
    from {
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    z-index: -9999;
}

main {
    padding-top: 100px;
    flex: 1;
}

/*NavBar*/

::marker {
    display: none;
    list-style: none;
}

#nav-menu ul {
    list-style: none;
}

#hamburger {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

.btn {
    /* hamburger - responsive nav */
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 10px 1.4rem;
    font-size: 1rem;
    border-radius: 5px;
}

.logo img {
    width: 75px;
    margin: 20px 20px;
    border-radius: 50%;
}

.logo img:hover {
    cursor: pointer;
}

.menu {
    position: relative;
}

#nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(3px);
}

.navcontainer {
    position: absolute;
    margin-top: -20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-bar .nav-link {
    text-decoration: none;
    font-size: 16px;
    font-family: poppins;
    color: var(--text-color);
    transition: all 500ms ease;
    margin: 0 8px;
}

.nav-link:hover {
    color: #006eff;
    cursor: pointer;
}

.nav-addbot {
    background: transparent;
    margin-right: 20px;
    padding: 7px;
    border: 2px solid #8a817c;
    border-radius: 8px;
    font-size: 18px;
    font-family: poppins;
    color: var(--text-color);
    transition: all 500ms ease;
}

.nav-addbot:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--text-color);
}

.nav-support {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-grey);
    font-size: 20px;
    margin: 0 10px;
    padding: 0.5rem;
    transition: all 500ms ease;
}

.nav-support:hover {
    background-color: rgb(30 41 59/1);
    border-radius: 0.25rem;
}

.nav-start,
.nav-end,
.menu-bar {
    display: flex;
    align-items: center;
}

#hamburger {
    display: none;
    margin-left: 1rem;
    font-size: 1.9rem;
}

.nav-end {
    display: none;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
}

.nav-end span {
    background: #fff;
    border-radius: 10px;
    height: 5px;
    margin: 5px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.nav-end span:nth-of-type(1) {
    width: 50%;
}

.nav-end span:nth-of-type(2) {
    width: 100%;
}

.nav-end span:nth-of-type(3) {
    width: 75%;
}

.nav-end input[type="checkbox"] {
    display: none;
}

.nav-end input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    width: 50%;
    transform: rotatez(45deg) translate(6px, 0px)
}

.nav-end input[type="checkbox"]:checked~span:nth-of-type(2) {
    transform-origin: top;
    width: 100%;
    transform: rotatez(-45deg) translate(2px, 0px)
}

.nav-end input[type="checkbox"]:checked~span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(19px, -10px) rotatez(45deg);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5vh 5vh 5vh 5vh;
}

.footer-left img {
    width: 75px;
    border-radius: 50%;
}

.footer-left p {
    color: var(--text-color);
    font-family: inter;
    font-size: 14px;
    margin: 10px 0;
    font-weight: 425;
}

.footer-left .footer-socials i {
    color: var(--text-grey);
    margin: 10px 10px 0 0;
    font-size: 20px;
}

.footer-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
}

.footer-center p {
    color: var(--text-grey);
    font-family: inter;
    font-weight: 400;
    font-size: 10px;
}

.footer-right {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-right .footer-field {
    margin: 0 30px;
}

.footer-right .footer-field h6 {
    font-family: poppins;
    color: var(--text-color);
    font-size: 16px;
}

.footer-right .footer-articles {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
}

.footer-right .footer-articles a {
    color: var(--text-grey);
    font-family: inter;
    font-size: 400;
    font-size: 14px;
    margin: 5px 0;
    transition: all 500ms ease;
}

.footer-right .footer-articles a:hover {
    cursor: pointer;
    color: var(--text-color);
}

/*hero*/

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10vh 0 0 0;
    opacity: 0;
    animation: revealAnimation 2s forwards;
}

.hero-left {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 0 0 0 7vh;
}

.hero-titlesection {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0 15px 0;
}

.hero .hero-title {
    font-size: 35px;
    font-family: mont;
    color: var(--text-color);
}

.hero-title-alt,
.hero-titlesection span {
    font-family: inter;
    color: var(--text-color);
    font-size: 18px;
    margin: 0 0 0 5px;
    transition: opacity 1s ease-in-out;
}

.invitebutton {
    margin: 0 0 10px 0;
    padding: 10px;
    font-family: poppins;
    text-align: center;
    border: none;
    color: #f1faee;
    border-radius: 10px;
    background: linear-gradient(45deg, #0055ff, #368ed6, #4e8397);
    font-size: 20px;
    width: 225px;
    transition: all 500ms ease;
    cursor: pointer;
}

.invitebutton:hover {
    filter: brightness(0.87);
}

.hero-left .stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.hero-left .stats article {
    border-left: 3px solid #0055ff;
    margin: 20px 0 0 5px;
}

.hero-left .stats article h6 {
    margin: 5px 0 0 10px;
    font-size: 20px;
    font-family: mont;
    color: var(--text-color);
}

.hero-left .stats article p {
    font-family: inter;
    color: var(--text-grey);
    margin: 5px 0 5px 10px;
    font-size: 13px;
    font-weight: 600;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10vh 0 0;
}
