@font-face {
    src: url(../fonts/IBMPlexMono-Medium.ttf);
    font-family: ibm;
}

@font-face {
    src: url(../fonts/Lato-Black.ttf);
    font-family: lato;
}

@font-face {
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: poppins;
}

@font-face {
    src: url(../fonts/Inter-Regular.ttf);
    font-family: inter;
}

:root {
    --primary-color: #0055ff;
    --text-color: #fff;
    --text-grey: #d8d8d8;
    --grey-color: #26292B;
    --black-color: #111;
    --light-black: #15151a;
    --blue-color: #0077b6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--light-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey-color);
}

.text:hover {
    cursor: default;
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none;
    /* Internet explorer depuis la version 10 et Edge */
    user-select: none;
    /* Propriété standard */
}

header ul {
    list-style: none;
}

::marker {
    display: none;
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

.btn {
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}

.logo {
    margin: 1.5rem;
}

.logo img {
    width: 100px;
    border-radius: 100%;
}

.navcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    height: 90px;
    float: right;
}

.menu {
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar .nav-link {
    text-decoration: none;
    font-size: 25px;
    font-family: poppins;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: -0.6px;
    transition: all 500ms ease;
    padding: 0.3rem;
    min-width: 60px;
    margin: 0 0.6rem;
}

.nav-link:hover {
    color: var(--primary-color);
}

.menu-bar .nav-link:hover {
    color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar {
    display: flex;
    align-items: center;
}

#hamburger {
    display: none;
    padding: 0.1rem;
    margin-left: 1rem;
    font-size: 1.9rem;
}

.footer {
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.footer-left p {
    margin: 5px 0;
    font-family: inter;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    color: var(--text-grey);
}

.footer-right {
    display: contents;
    flex-direction: column;
    gap: 10px;
}

.footerlogo img {
    width: 75px;
    height: auto;
    border-radius: 100%;
}

.footer h1 {
    display: flex;
    text-align: center;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    margin: 5px 0 0 0;
}

.footer a {
    text-decoration: none;
    color: var(--text-color);
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    display: flex;
    transition: all 500ms ease;
    margin-top: 10px;
}

.footer a:hover {
    color: var(--primary-color);
}

.footer-right img {
    width: 25px;
    height: auto;
    margin: 0 7.5px 0 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: relative;
}

.hero h1 {
    font-family: lato;
    color: var(--text-color);
    font-size: 50px;
    position: relative;
    top: -30%;
    margin-bottom: 20px;
}

.hero p {
    font-family: poppins;
    color: var(--text-color);
    font-size: 20px;
    position: relative;
    top: -34%;
}

.fade-container {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-container.fade-out {
    opacity: 0;
}

.quotes {
    display: none;
}

.custombutton {
    font-family: poppins;
    text-align: center;
    padding: 10px 20px;
    border: none;
    color: #f1faee;
    border-radius: 10px;
    font-weight: 50;
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
    font-size: 20px;
    height: auto;
    width: 200px;
    position: relative;
    top: -30%;
    transition: all 500ms ease;
    cursor: pointer;
}

.custombutton:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
    scale: 103%;
}

.stats {
    padding: 60px 0 30px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.stats h1 {
    font-family: poppins;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    margin: 0 0 20px 0;
}

.cards {
    display: flex;
    margin: 0 0 40px 0;
}

.items {
    margin: 20px;
    /* width: 200px; */
    /* height: 200px; */
    /* max-width: 200px; */
    /* max-height: 200px; */
    /* min-width: 200px; */
    /* min-height: 200px; */
}

.items p {
    text-align: center;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    margin: 5px 0 0 0;
}

.cercle {
    width: 250px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 40px;
    box-shadow: 0 0 40px var(--black-color);
}

.items span {
    font-family: poppins;
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 700;
}

.bdgcategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 80px 400px;
    gap: 20px;
    background-color: var(--black-color);
    border-radius: 10px;
    box-shadow: 0 0 40px var(--black-color);
}

.badges h1 {
    margin-top: auto;
    font-family: lato;
    color: var(--text-color);
    font-size: 25px;
}

.bdgcard {
    display: flex;
    background: var(--light-black);
    box-shadow: 0 0 15px var(--light-black);
    border-radius: 5px;
    align-items: center;
    gap: 40px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: poppins;
    color: var(--text-color);
}

.bdgcard img {
    display: flex;
    width: 90px;
    transition: scale 400ms;
}

.bdgcard:hover img {
    scale: 110%;
}

.bdgtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    font-family: poppins;
    color: var(--text-color);
}

.termstitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-family: lato;
    color: var(--text-color);
    font-size: 25px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 80px 300px;
    gap: 20px;
    background-color: var(--black-color);
    border-radius: 10px;
    box-shadow: 0 0 40px var(--black-color);
}

.quote img {
    display: flex;
    width: 75px;
}

.quote p {
    font-size: 15px;
    font-weight: 500;
    font-family: lato;
    color: var(--text-color);
    margin: 0;
}

.termsheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 80px 150px;
    gap: 20px;
    background-color: var(--black-color);
    border-radius: 10px;
    box-shadow: 0 0 40px var(--black-color);
}

.termsheader h1 {
    display: flex;
    margin-top: auto;
    font-family: lato;
    color: var(--text-color);
    font-size: 25px;
}

.termsheader p {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: inter;
    color: var(--text-color);
    margin: 0;
}

.termsheader a {
    text-decoration: none;
    color: var(--light-blue);
    transition: all 500ms ease;
}

.termsheader a:hover {
    color: var(--primary-color);
}

.termsheader li {
    font-size: 15px;
    font-weight: 500;
    font-family: inter;
    color: var(--text-color);
    margin: 0;
}

.termsheader li span {
    font-size: 15px;
    font-weight: 500;
    font-family: poppins;
    color: var(--light-blue);
    margin: 0;
}

.importantquote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 80px 300px;
    gap: 20px;
    background-color: var(--black-color);
    border-radius: 10px;
    box-shadow: 0 0 40px var(--black-color);
}

.importantquote img {
    display: flex;
    width: 75px;
}

.importantquote p {
    font-size: 15px;
    font-weight: 500;
    font-family: lato;
    color: var(--text-color);
    margin: 0;
}

.informationquote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--grey-color);
    border-radius: 10px;
    box-shadow: 0 0 40px var(--grey-color);
}

.informationquote img {
    display: flex;
    width: 40px;
}

.informationquote p {
    font-size: 15px;
    font-weight: 500;
    font-family: lato;
    color: var(--text-color);
    margin: 0;
}

.markedtext {
    font-size: 15px;
    font-weight: 500;
    font-family: lato;
    color: var(--blue-color);
    margin: 0;
}

.team {
    padding: 60px 0 30px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.team h1 {
    font-family: poppins;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    margin: 0 0 20px 0;
}

.teamcards {
    display: flex;
    margin: 0 0 40px 0;
}

.team-cercle {
    width: 300px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 40px;
    box-shadow: 0 0 40px var(--black-color);
}

.team-cercle img {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.team-cercle h1 {
    text-align: center;
    font-family: poppins;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    margin: 5px 0 0 0;
}

.team-cercle a:hover {
    color: var(--light-blue);
    transition: all 500ms ease;
}

.team-cercle span {
    font-family: poppins;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 700;
}

.profilcards {
    display: flex;
    margin: 0 0 10px 0;
}

.teambutton {
    margin: 10px;
}

.team-link {
    background-color: var(--grey-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 40px var(--grey-color);
    text-decoration: none;
    text-align: center;
    font-family: poppins;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}
