@media only screen and (min-width: 1024px) {
    /*deskop*/
}

@media screen and (min-width: 767px) and (max-width:1023px) {
    /*tablet*/

    .nav-lastlink {
        display: none;
    }

    .hero-left {
        margin: 0 0 0 0;
        padding: 0 20px 0 0;
    }

    #slideshow .slide {
        width: 450px;
    }
}

@media screen and (max-width: 767px) {
    /*smartphone*/

    .logo img {
        width: 75px;
    }

    .nav-lastlink {
        display: none;
    }

    .footer {
        padding: 10px 50px 50px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-left p {
        text-align: center;
        font-size: 13px;
    }

    .footer-left p img {
        width: 20px;
        height: 20px;
    }

    .footer-right {
        display: flex;
        flex-direction: row;
    }

    .footer h6 {
        font-size: 15px;
    }

    .footer-element,
    .footer-element {
        margin: 10 15px;
    }

    .footer-right a {
        font-size: 13px;
    }
}

@media (max-width: 1100px) {
    /*navbar*/

    #hamburger {
        display: block;
        color: var(--text-color);
    }

    .navcontainer {
        padding: 1.2rem;
    }

    .menu {
        position: absolute;
        top: 87px;
        width: 20px;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.97) translateX(-5px);
        transition: all 500ms ease;
    }

    .menu-bar .nav-link {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.97) translateX(-5px);
        transition: all 500ms ease;
    }

    .menu.show {
        background-color: var(--light-black);
        width: 85px;
        border-radius: 10px;
        z-index: 1;
        visibility: visible;
        opacity: 1;
        transform: scale(1) translateX(5px);
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;
    }

    .menu-bar .nav-link {
        display: flex;
        justify-content: space-between;
        width: 10px;
        font-weight: 600;
        font-size: 15px;
        font-family: poppins;
        margin: 0;
        visibility: visible;
        opacity: 1;
        transform: scale(1) translateX(5px);
    }

    .menu-bar li:first-child .dropdown {
        min-width: 100%;
    }

    .menu-bar>li:not(:last-child) {
        padding-bottom: 0.5rem;
    }
}
